html {
  font-size: 625%;
}
@media(max-width:720px){
  html{ font-size:600%;}
}
@media(max-width:683px){
  html{ font-size:570%;}
}
@media(max-width:640px){
  html{ font-size:533%;}
}
@media(max-width:565px){
  html{ font-size:471%;}
}
@media(max-width:540px){
  html{ font-size:450%;}
}
@media(max-width:480px){
  html{ font-size:400%;}
}
@media(max-width:432px){
  html{ font-size:360%;}
}
@media(max-width:414px){
  html{ font-size:345%;}
}
@media(max-width: 375px){
  html{ font-size:312.5%;}
}
@media(max-width:360px){
  html{ font-size:300%;}
}
@media(max-width:320px){
  html{ font-size:267%;}
}
@media(max-width:270px){
  html{ font-size:225%;}
}
